*{
    margin: 0;
    box-sizing: border-box;
}

#page-wrapper {
    background-color: #CDE990;
    width: 80%;
    margin: 0 auto;
}
header, footer {
    background-color: #AACB73;
}
#content{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 150vh;
}

ul {
    padding-left: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
main ul li{
    padding: 5%;
}
main {
    width: 70%;
    background-color: #CDE990;
    font-size: calc(2px + 1.3vw);
    text-align: center;
    padding: 1%
}

nav {
    width: 30%;
    background-color: #CDE990;
}

nav li{
    background-color: #F075AA;
    border: solid #F075AA 2px;
    text-align: center;
    margin: 20%
}

nav a{
    color: #CDE990;
    text-decoration: none;
    font-size: calc(2px + 1.5vw);
}
nav p{
    color: #CDE990;
    text-decoration: none;
    font-size: calc(2px + 1vw);
}


h3{
    padding: 2%
}
p{
    line-height: 150%;
}
.list{
    font-weight: bold;
}
.desc {
    font-weight: normal;
    font-size: calc(2px + 1vw);
    margin: 0;
    padding: 1%;
}
.negative{
    color: red;
    font-weight: bold;
}

img {
    max-width: 30%;
    display: inline;
    /*flex-direction: row;*/
    margin: 0;
}
#judgement{
    display: flex;
    margin: auto;
}
#withwu{
    max-width: 100%;
}

.buttons{
    font-size: calc(2px + 1vw);
    padding: 2% 2%;
    margin: 1% 0;
    border: solid #F075AA 2px;
    border-radius: 1.5vw;
}
#calculator{
    width: 70%;
    border: solid #F075AA 4px;
    border-radius: 1.5vw;
    background-color: white;
    margin: 2% auto;
    padding: 1% 1%;
}
@media screen and (max-width: 750px){
    main *{
        margin: 10%
    }
    #content{
        flex-direction: column;
        height: 150vh;
        margin: 0;
    }

    nav {
        display: flex;
        flex-direction: row;
        box-sizing: border-box;
        width: 100%;
        justify-content: center;
        /*padding: 5% 0;*/
    }

    nav ul {
        /*padding-left: 0;*/
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    nav li{
        border: solid #AACB73 2px;
        margin: 2% ;
        display: inline;
        padding: 2%;
        text-align: center;
        /*border-right: 2px #AACB73;*/

    }

    nav a{
        /*text-align: center;*/
        color: #CDE990;
        text-decoration: none;
        font-size: calc(2px + 1.5vw);
        font-weight: bold;
    }
    #withwu{
        margin: auto;
    }
    header, footer{
        text-align: center;
    }
    img{
        margin: 0;
    }
    input{
        display: inline;
        margin: 0;
    }
    label{
        margin: 0;
    }
    .input_label{
        padding: 0;
        margin: 1% 0;
    }
}
@media screen and (max-width: 1000px){
    main{
        width: 100%;
    }
}